$primary50: #fbe8e6;
$primary100: #fecaba;
$primary200: #fda88e;
$primary300: #fd8662;
$primary400: #fc6c3f;
$primary500: #fb511d;
$primary600: #f14b19;
$primary700: #e34414;
$primary800: #d53d0f;
$primary900: #bc3006;

$point50: #e9e9f9;
$point100: #c7c9ef;
$point200: #a2a5e4;
$point300: #7c82da;
$point400: #6066d1;
$point500: #4449c8;
$point600: #3f41bd;
$point700: #3637b1;
$point800: #2e2ba5;
$point900: #201592;

$alert50: #ffe9ec;
$alert100: #ffc9ce;
$alert200: #f59291;
$alert300: #ec6666;
$alert400: #f63d3e;
$alert500: #fa211d;
$alert600: #eb0b1f;
$alert700: #da0019;
$alert800: #cd0011;
$alert900: #bf0000;

$gray50: #f8f8f8;
$gray100: #f2f2f2;
$gray200: #ededed;
$gray300: #e0e0e0;
$gray400: #bdbdbd;
$gray500: #9e9e9e;
$gray600: #7f7f7f;
$gray700: #616161;
$gray800: #414141;
$gray900: #212121;

$black: #000;
$white: #fff;
